---
// Component Imports
import BaseHead from '../components/BaseHead.astro'
import BlogHeader from '../components/BlogHeader.astro'
import BlogList from '../components/BlogList.jsx'
import ConvertkitForm from '../components/ConvertkitForm.astro'
import UserSettingsLoad from '../components/UserSettingsLoad.astro'
import '../styles/theme.css'
import '../styles/blog.css'

interface MarkdownFrontmatter {
	date: number
	title: string
	description: string
	tags: string[]
}

const title = 'Web Dev Simplified Blog';
const description = 'Web Dev Simplified Blog';
const permalink = 'https://blog.webdevsimplified.com';

const allMarkdownPosts = await Astro.glob<MarkdownFrontmatter>('../posts/**/*.md')
const allPosts = allMarkdownPosts
	.map(post => {
    const [_file, blog, date] = post.file.split("/").reverse()
		return {
			title: post.frontmatter.title,
			description: post.frontmatter.description,
			tags: post.frontmatter.tags,
			date: new Date(post.frontmatter.date),
			url: `/${date}/${blog}`
		}
	}).sort((a, b) => b.date.valueOf() - a.date.valueOf())
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>
			.content {
				margin-top: 4rem;
				margin-bottom: 8rem;
			}

			.content :global(main > * + *) {
				margin-top: 1rem;
			}
		</style>
	</head>

	<body>
		<UserSettingsLoad />
		<ConvertkitForm />
		<BlogHeader />
		<div class="wrapper">
			<BlogList client:load allPosts={allPosts} />
		</div>
	</body>
</html>