---
export interface Props {
  title: string
  description: string
  permalink: string
}
const { title, description, permalink } = Astro.props
const url = new URL(permalink)
const imageHttpUrl = new URL("og.webp", url)
imageHttpUrl.protocol = "http:"

const imageHttpsUrl = new URL(imageHttpUrl)
imageHttpsUrl.protocol = "https:"
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageHttpUrl.toString()} />
<meta property="og:image:secure_url" content={imageHttpsUrl.toString()} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageHttpUrl.toString()} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap"
/>

<!-- Analytics -->
<script
  defer
  data-domain={import.meta.env.PROD ? "blog.webdevsimplified.com" : "testing"}
  data-api="https://royal-surf-e76e.kyle-0ed.workers.dev/api/e"
  src={`https://royal-surf-e76e.kyle-0ed.workers.dev/js/script.manual${
    import.meta.env.PROD ? "" : ".local"
  }.js`}
></script>
<script is:inline>
  window.plausible =
    window.plausible ||
    function () {
      ;(window.plausible.q = window.plausible.q || []).push(arguments)
    }
</script>
