---
import dateFormatter from '../utils/dateFormatter.js'
import TagBar from './TagBar.jsx'
import ShareButtons from './ShareButtons.jsx'

export interface Props {
	title: string;
	date: string;
	url: string
	tags: string[]
}

const { title, date, tags, url, nextPost, prevPost } = Astro.props;
const siteUrl = Astro.site.href
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<h1 class="title">{title}</h1>
				<p class="publish-date">{dateFormatter.format(new Date(date))}</p>
				<div style="margin-bottom: 1rem">
					<TagBar
						tags={tags.map(tag => {
							return { name: tag }
						})}
					/>
				</div>
				<ShareButtons client:load title={title} url={url} twitterHandle="DevSimplified" siteUrl={siteUrl} tags={tags} />
			</header>
			<main>
				<slot />
			</main>
			<footer>
				<div>
					{prevPost && <div class="adjacent-post-link-title">Prev Article</div>}
					{prevPost && <a href={prevPost.url}>{prevPost.title}</a>}
				</div>
				<div class="next">
					{nextPost && <div class="adjacent-post-link-title">Next Article</div>}
					{nextPost && <a href={nextPost.url}>{nextPost.title}</a>}
				</div>
			</footer>
			<!-- TODO: Add related blog post links to the end of the articles. Have this data pulled from the frontmatter and also from the articles with the same tag/tags -->
			<!-- TODO: Add author section -->
			<!-- TODO: Add a scroll to top button as well -->
			<!-- TODO: Add custom 404 page -->
			<!-- TODO: Add Google Analytics -->
			<!-- TODO: Add social share images (https://joeprevite.com/create-a-twitter-card-for-your-blog) (Maybe dynamically generate a CSS page that is scraped with puppeteer or use something like ImageMagik or ffmpeg) -->
			<!-- TODO: Add Pagination -->
		</div>
	</article>
</div>

<style>
	.content {
		margin-bottom: 8rem;
	}

	.content :global(main > * + :not(h2):not(h3)) {
		margin-top: 1rem;
	}

	.content :global(h2) {
		margin-top: 4rem;
	}

	header {
		margin-bottom: 2rem;
	}

	footer {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}

	.title,
	.publish-date {
		margin: 0;
	}

	.publish-date {
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
	}

	.adjacent-post-link-title {
		color: var(--theme-text-lighter);
		font-weight: bold;
		font-size: .8em;
	}

	.next {
		text-align: end;
	}

	@media (max-width: 50em) {
		.title {
			font-size: 1.75rem;
			overflow-wrap: break-word;
		}
	}
</style>
