---
import "../styles/theme.css"
import "../styles/blog.css"
import "../styles/shiki-highlight.css"
import BaseHead from "../components/BaseHead.astro"
import BlogPost from "../components/BlogPost.astro"
import BaseTopOfBody from "src/components/BaseTopOfBody.astro"
import { getFreebie, DEFAULT_FREEBIE_ID } from "../data/freebies"

const { content } = Astro.props
const {
  title,
  description,
  date,
  updatedDate,
  author = "Kyle Cook",
  tags,
  freebie: freebieId = DEFAULT_FREEBIE_ID,
} = content
const url = Astro.request.url
const freebie = getFreebie(freebieId)
---

<html lang={content.lang || "en"} prefix="og: https://ogp.me/ns#">
  <head>
    <BaseHead {title} {description} permalink={url} />
  </head>

  <body>
    <div class="wrapper">
      <BaseTopOfBody />
      <BlogPost {title} {author} {date} {updatedDate} {tags} {url} {freebie}>
        <slot />
      </BlogPost>
    </div>
  </body>
</html>
